@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;
    line-height: 1.7;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../img/overlay.png), url(../img/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

    .main-header-title{
        font-size: 22px;
        line-height: 1.5;
        color: white;
        font-weight: normal;
        color: rgba(255, 255, 255, .5);
    }
        .main-header-title strong{
            color: white;
            font-weight: normal;
        }

.avatar{
    width: 123px;
    height: 123px;
    background-position: center;
    background-size: auto, cover;
}
.worksImg{
    width: 370px;
    height: 217px;
}

p{
    margin: 0 0 2em;
}


h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 0 0  1em 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 28px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}



.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.button-default{
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .75em;
    border-radius: 5px;
    font-size: .8em;
}